html, body{
    font-family: 'Space Mono', monospace;
    height: 100%;
    background:hsl(185, 41%, 84%) ;
    font-size: 24px;
}

*{
    border-radius: 10px;
}

.content{
    background-color: #FFF;
    margin: 0 auto;
    max-width: 40rem;
    align-items: stretch;
}
.calculator{
    flex: 1;
    margin: 1rem;
}
.calculator > *{
    margin: 0.25rem 0%;
}
p, .person{
    font-size: 0.5rem;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    margin: 1em;
}
.result{
    flex: 1 ;
    background-color: hsl(183, 100%, 15%);
    margin: 1rem;
    padding: 1rem ;
    flex-direction: column;
    justify-content: space-between;

}
.input{
    display: block;
}

.flex{
    display: flex;
}
.list{
    margin: 0%;
    padding: 0%;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
li{
    flex: 1;
    display: inline-block;
    background-color: hsl(183, 100%, 15%);
    min-width:4rem;
    text-align: center;
}

.custom{
    background-color:hsl(189, 41%, 97%) ;
    color: hsl(186, 14%, 43%) ;
}

.money{
    margin-bottom: 1rem;
    background: url(tip-calculator-app-main/images/icon-dollar.svg) no-repeat scroll 7px 10px;
}
.people{
    background: url(tip-calculator-app-main/images/icon-person.svg) no-repeat scroll 7px 10px;
    margin-bottom: 0%;
}
.people, .money{
    padding-left:30px;
    background-color: hsl(189, 41%, 97%);
    border: none;
}

button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    font-size: 1rem;
    padding: 0.25rem 0.85rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color:hsl(189, 41%, 97%) ;
}
.break{
    display: block;
    flex-basis: 100%;
    width: 0%;
}

input{
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 1.5rem;
    text-align: right;
    font-size: 1rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);

}
.person{
    display: block;
    margin: 0;
}
.tips-and-total{
    justify-content: space-between;
    margin-bottom: 2rem;
    color: hsl(189, 41%, 97%);
    font-size: 0.75rem;
}

.active{
    background-color:hsl(172, 67%, 45%) ;
    color: hsl(183, 100%, 15%);
}
.custom{
    text-align: center;
    font-size: 1rem;
}

.number{
    color: hsl(172, 67%, 45%);
    font-size: 1.25rem;
}
a{
    text-decoration: none;
}
.reset{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}
